@charset "UTF-8";
/* CSS Document */

.body {
	/* -- hypenation and word breaks for longer words --*/
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.jumbotron {
	padding-top: 1.6180em;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: transparent;
}

#aee-blue {
    background-image: url('../images/477eca-aee-blue.png');
    background-repeat: repeat-x;
    background-size: auto 62.97233%;
}

#odu-blue {
    background-image: url('../images/0f3768-odu-blue.png');
    background-repeat: repeat-x;
    background-size: auto 62.97233%;
}

.container {
	margin-bottom:30px;
}

section h2 {
	display:none;
}

article h3 {
	display:none;
}

#holden-hardcastle {
	background-image:url(../images/5120.png);
	background-size:cover;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@media print {
  .container {
    width: auto;
  }
}