/* CSS Document */
@import "https://fonts.googleapis.com/css?family=Abhaya+Libre:600";
body {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff; }

.navbar-default .navbar-nav .li .a {
  color: #ffffff; }

.jumbotron {
  padding-top: 1.6180em;
  padding-bottom: 1.6180em;
  margin-bottom: 0;
  background-color: transparent; }

h1 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
  font-size: 6.477em !important;
  line-height: .9em; }

h3 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
  font-size: 3.236em;
  line-height: 1em; }

.h2, .h4, .h5, .h6, h2, h4, h5, h6 {
  line-height: 1.3; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none outside none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0; }

img {
  position: relative; }

.navbar-default {
  background-image: none;
  filter: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.social {
  margin-bottom: 3px; }

<-- script --> 

.screenbox {
    list-style: none;
}

.screenbox li { font-family: "Courier New", "monospace" }

.sceneheader, .action, .character { 
	padding-top: 1.5ex;
	
}

.action { padding-right: 5%; }

.character { margin-left: 40%; text-transform: uppercase; }

.dialogue { margin-left: 25%; padding-right: 25%; }

.parenthetical { margin-left: 32%; padding-right: 30%; }

/* special case: dialogue followed by a parenthetical; the extra line needs to be suppressed */

.dialogue + .parenthetical { padding-bottom: 0; }

.transition { padding-top: 3ex; margin-left: 65%; padding-bottom: 1.5ex; }

#holden-hardcastle {
  margin-top: 1em; }

#ub-cool-grey3 {
  background-image: url("../images/c8c8c8.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#ub-cool-grey11 {
  background-image: url("../images/56565a.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#bleu-blue {
  background-image: url("../images/042e61.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#aee-blue {
  background-image: url("../images/477eca.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#old-navy-blue {
  background-image: url("../images/134578.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#dictionary-blue {
  background-image: url("../images/002d62.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#chronicle-blue {
  background-image: url("../images/88b1cc.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#loud-dog-red {
  background-image: url("../images/d2232a.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#south-end-red {
  background-image: url("../images/791c1f.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#trx-bg {
  background-image: url("../images/000000-trx-bg.png");
  background-repeat: repeat-x;
  background-size: auto 100%; }

#griffith-red {
  background-image: url("../images/dd0022.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#websites-04 {
  background-image: url("../images/dd0022.png");
  background-repeat: repeat-x;
  background-size: auto 61.97233%; }

#mktw-black {
  background-image: url("../images/000000.png");
  background-repeat: repeat-x;
  background-size: auto 62.97233%; }

#odu-blue {
  background-image: url("../images/0f3768.png");
  background-repeat: repeat-x;
  background-size: auto 62.97233%; }

#sketchbook {
  background-image: url("../images/000000.png");
  background-repeat: repeat-x;
  background-size: auto 62.97233%; }

#inspiration {
  background-image: url("../images/fa7268.png");
  background-repeat: repeat-x;
  background-size: auto 62.97233%; }

#design-issues {
  background-image: url("../images/0f4c81.png");
  background-repeat: repeat-x;
  background-size: auto 62.97233%; }

#description {
  font-size: 21px;
  font-weight: 200; }

#dc {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; }

.row {
  margin-right: 0;
  margin-left: 0; }

main h1 {
  display: none; }

section h2 {
  display: none; }

.container {
  margin-bottom: 4.854em; }

container h3 {
  margin-bottom: 14.562em; }

/* arrow indication https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  br {
    display: none; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  br {
    display: none; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  br {
    display: none; } }
@media print {
  .container {
    width: auto; } }
