@charset "UTF-8";
/* CSS Document */

.jumbotron {
	padding-top: 6.47212em;
}

.container {
	margin-bottom:30px;
}

#holden-hardcastle {
	background-image:url(../images/5120.png);
	background-size:cover;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.panel {
    box-shadow: none;
}
.panel-default {
	border-color: transparent;
	border:none;
}
.panel-heading {
	padding: 0;
	border-bottom: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
}

/* -- hypenation and word breaks for longer words --*/

.hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@media print {
  .container {
    width: auto;
  }
}