@charset "UTF-8";
/* CSS Document */

body {
	/* -- hypenation and word breaks for longer words --*/
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.jumbotron {
	padding-top: 1.6180em;
    padding-bottom: 1.6180em;
    margin-bottom: 0;
    background-color: transparent;
}

img {
	position: relative;
}

.navbar-default {
    background-image: none;
    filter: none;
    border-radius: 0px;
    -webkit-box-shadow: none ;
    box-shadow: none;
}

.social {
	margin-bottom: 3px;
}

#aee-blue {
    background-image: url('../images/477eca.png');
    background-repeat: repeat-x;
    background-size: auto 61.97233%;
}

#old-navy-blue {
    background-image: url('../images/134578.png');
    background-repeat: repeat-x;
    background-size: auto 61.97233%;
}

#dictionary-blue {
    background-image: url('../images/002d62.png');
    background-repeat: repeat-x;
    background-size: auto 61.97233%;
}

#chronicle-blue {
    background-image: url('../images/88b1cc.png');
    background-repeat: repeat-x;
    background-size: auto 61.97233%;
}

#loud-dog-red {
    background-image: url('../images/d2232a.png');
    background-repeat: repeat-x;
    background-size: auto 61.97233%;
}

#south-end-red {
    background-image: url('../images/791c1f.png');
    background-repeat: repeat-x;
    background-size: auto 61.97233%;
}

#trx-bg {
    background-image: url('../images/000000-trx-bg.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#odu-blue {
    background-image: url('../images/0f3768.png');
    background-repeat: repeat-x;
    background-size: auto 62.97233%;
}

#description {	
	margin-top: -62.97233%;
	font-size: 21px;
    font-weight: 200;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

main h1 {
	display:none;
}

section h2 {
	display:none;
}

container h3 {
	margin-bottom:14.562em;
}

#holden-hardcastle {
	/* background-image:url(../images/5120.png); */
	background-size:cover;
	text-align:center;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@media print {
  .container {
    width: auto;
  }
}